@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Sriracha&display=swap');

* {
  
  font-family : 'Montserrat', sans-serif;
  margin: 0px;
  padding-left: 0px;
}

body, html{
  height: 100vh;
  width: 100vw;
  margin: 0px;
  padding: 0px;
  font-size: 1em;
  line-height: 1.8em;  

}
section > p{
color: rgba(0, 0, 0, 0.778);
}
#container img{
  max-width:290px;
  max-height:375px;
}

section > h1{
margin: 15px;
margin-bottom: 5px;
text-align: left;
line-height: 1.2em;

}

main > section {
padding-top: 0px;
padding: 0px 34px;
text-align: justify;
}
main>section>aside{
padding: 20px 20px 20px 20px;
background-color: rgba(95, 158, 160, 0.22);
border-radius: 10px;
}

aside > ul{
margin: 15px;
}

main > section >h2, aside>h2{
margin-top: 15px;
margin-bottom: 7px;
margin-left: 1px;
color: brown;
}

main > section > ul, section > ol{
padding: 20px 20px 20px 20px;
}

main > section > p{
margin-bottom: 17px;
padding: 0 10px 10px 10px;
text-align: justify;
}

hr{
margin-top: 5px;
margin-bottom: 5px;
}

main > section > table, th, td{
border-collapse: collapse;
padding: 10px 40px;
text-align: left;
border: 1px solid rgba(0, 0, 0, 0.486);
}

main > section > table{
padding-bottom: 50px;
margin-bottom: 10px;
}

.num{
color: brown;
}